/* 自定义样式 */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    filter: invert(1);
    /* Add this line to invert the logo color to white */
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header {
    background-size: cover;
    background-position: center;
    height: 80px;
    /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* 设置圆弧边界 */
    border: 1px solid rgb(0, 0, 0)e0e;
    padding: 5px;
}

.search-input {
    background-color: transparent;
    flex-grow: 1;
    border: none;
}

.search-btn {
    background-color: transparent;
    border: none;
}

.search-btn img {
    width: 20px;
    height: 20px;
}
